<div class="footer-wrapper">
  <div>
    <span class="footer-text"><span><a href="https://www.freecodecamp.org/challenges/image-search-abstraction-layer">FCC API</a></span> by Heyjp</p>
  </div>
  <div class="">
    <a href="www.freecodecamp.com/heyjp"><i class="fa fa-free-code-camp fa-2x" aria-hidden="true"></i>
    </a>
    <a href="www.github.com/heyjp"><i class="fa fa-github fa-2x"></i></a>
  </div>
</div>
