* {
  padding: 0px;
  margin: 0px;
}

body {
    background-color: #f5f5f5;
}

.grid {
  width: 100%;
}

.grid-item {
  width: 23%;
  padding: 5px 5px 2px 5px;
}

img {
  width: 100%;
}

.col-block {
  background: none;
  margin: 2px 0px;
  padding: 2px 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.img-block img {
  height: 50px;
  width: 50px;
}

.like-block {
  margin-left: auto;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.title-block h5 {
  background: gray;
  margin: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.btn p {
  position: relative;
  color: white;
  bottom: 35px;
  left: 25px;
}


.drop-box {
  display: none;
  transition: 0.6s;
  position: absolute;
  top: 65px;
  left: 189px;
  min-width: 120px;
  max-width: 300px;
  border: 1px solid black;
  border-top: none;
  border-top-left-radius: : 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1000;
}

.drop-box input[type=submit] {

}

.show-menu {
  display: none;
}

nav {
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 25px;
}

@media screen and (max-width: 800px) {
  .grid {
    margin-left: 20px;
  }
  .grid-item {
    width: 30%;
  }

  .drop-box {
    display: none:
  }
}

@media screen and (max-width: 640px) {
  .grid {
    margin-left: 20px;
  }
  .grid-item {
    width: 45%;
  }
}

.title {
  font-weight: 400;
  font-size: 1.3em;
  margin: 10px;
}

.title-holder {
  padding: 5px 10px;

}

.img-delete {
  position: absolute;
  right: 5px;
  padding: 2px;
  border-radius: 5px;
  background-color: black;
  border: 2px solid gray;
  color: white;
}

form h4 {
  margin-top: 50px;
  padding-bottom: 20px;
}

form button {
  margin-top: 25px;
  margin-bottom: 25px;
}

.btn {
  background-color: #4CAF50 !important;
}

 i {
   color: #ffffff;
 }

 .title {
   color: #212121 !important;
 }

.dark-primary-color    { background: #388E3C; }
.default-primary-color { background: #4CAF50; }
.light-primary-color   { background: #C8E6C9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFC107; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
